<div *ngIf="question"> 
    <h2 class="question-type">{{ question.questionType }}</h2>
    <div class="question-wrapper">
      <p class="question-text">{{ question.question }}</p>
    </div>
  
    <table class="option-table" *ngIf="question.questionType == 'mc'">
      <tr *ngFor="let option of question.options">
        <td class="option-item"><input type="checkbox" />{{ option }}</td>
      </tr>
    </table>
  
    <table class="option-table" *ngIf="question.questionType == 'sc'">
      <tr *ngFor="let option of question.options">  
        <td class="option-item">
          <input type="radio" name="radAnswer" />{{ option }}
        </td>
      </tr>
    </table>
  
    <table class="option-table" *ngIf="question.questionType == 'fi'">
      <tr>
        <td class="option-item"><input type="text" /></td>
      </tr>
    </table>
  
    <p class="correct-answer" *ngIf="showAnswer" >
      Correct Answer: {{ question.correctAnswer.join(" ") }}
    </p>
  </div>
  
  
  