/* MessagesComponent's private CSS styles */
h2 {
  color: #a80000;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  margin: 0px;
}

.frame {
  position: relative;
  padding: 5px;
  border: 1px solid #42545c;
  border-radius: 3px;
  width: 300px;
  height: 200px;
}

.logbox-outer-container {
  height: 65%;
  overflow-y: auto; /* Add scrollbar when content exceeds the height */
}

.logbox-container {
  position: relative;
  background-color: rgba(0, 0, 0, 0.03);
}

.logbox-mask {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30px;
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
  z-index: 2;
}

#logbox {
  position: relative;
  z-index: 1;
  padding: 5px;
  /* You can set a max-height here if you want to limit the logbox's height. */
}

.clear {
  color: #333;
  padding: .5rem 1.5rem;
  background-color: #eee;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 4px;
  font-size: 1rem;
}

.clear:hover {
  color: white;
  background-color: #42545c;
}
