/* Stil für den Container der Fragen */
.question-container {
    position: relative;
    display: block;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }