/* Stil für den Container der Fragen */
.question-container {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  /* Stil für den Fragetyp */
  .question-type {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  /* Stil für die Frage */
  .question-text {
    width: 100%;
    font-size: 16px;
    margin-bottom: 10px;
    text-align: start;  
    text-indent: 20%;

  }
  
  /* Stil für die Tabelle der Optionen */
  .option-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
    border: none;
  }
  
  /* Stil für eine Option */
  .option-item {
    padding: 5px;
    text-align: start;  
    text-indent: 20%;
}
  
  /* Stil für die korrekte Antwort */
  .correct-answer {
    font-style: italic;
    color: #008000;
  }
  