/* Stil für den Container der Fragen */
.question-container {
    position: relative;
    display: block;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .button {
    padding: 10px 20px;
    font-size: 10px;
    font-weight: bold;
    border: none;
    background-color: #007bff; /* Blue color */
    color: #ffffff; /* White color */
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  /* Style when hovering over the button */
  .button:hover {
    background-color: #0056b3; /* Darker blue color on hover */
    color: #ffffff; /* White color on hover */
  }